<!DOCTYPE html>
<body>
	<div style="width: 40%;
	border: 1px solid black;
	background-color: lightcyan;
	font-family: Helvetica, sans-serif;">
		<div style="margin: 5%;">
			<h1>
				<u>Dictionary Data</u>
			</h1>
			<h2>
				<u>All Data</u>
			</h2>
			<h4 id='alldata'></h4><br>
			<h2>
				<u>Neat Data</u>
			</h2>
			<h4 id='neatdata'></h4>
		</div>
	</div>

<script>







	{% comment %} var data = JSON.parse("{{data|escapejs}}");
	var dataNode = document.getElementById('alldata');
	dataNode.innerHTML+="{{data|escapejs}}";
	dataNode = document.getElementById('neatdata');
	for(var x in data){
		dataNode.innerHTML+=x+' : '+data[x]+'<br><br>';
	} {% endcomment %}

    {% comment %} var data = JSON.parse("{{data|escapejs}}");
	var dataNode = document.getElementById('alldata');
	dataNode.innerHTML+="{{data|escapejs}}";
	dataNode = document.getElementById('neatdata');
	for(var x in data){
		dataNode.innerHTML+=x+' : '+data[x]+'<br><br>';
	} {% endcomment %}
</script>

<script>
alert('xxxxxxxxxx');
alert('{{data}}');
var nmestr = {{ data|safe }};

    //const name = '{{data}}';
    console.log(nmestr);
    //const obj = JSON.parse('{"name":"John", "age":30, "city":"New York"}');
    alert('just a tesst');
    //const nmestr = JSON.parse(name);
    alert(nmestr);




   
    //const nmestr = JSON.parse( "{{data}}");
  

   

    let centr = 0;
    let cif = 0;
    let cels = 0;
    function inside2(nmestr) {
        function addElement() {
            // create a new div element
            const newDiv = document.createElement("p");
            // and give it some content
            const newContent = document.createTextNode(nmestr[i]);
            // add the text node to the newly created div
            newDiv.appendChild(newContent);
            // add the newly created element and its content into the DOM
            const currentDiv = document.getElementById("demo2");
            document.body.insertBefore(newDiv, currentDiv);
        }

        centr++;

        //console.log('enter', centr);

        for (i in nmestr) {


            if (typeof nmestr[i] === ('object')) {
                cif++;
                // console.log(' if .. ',  'OBJECT.');


                inside2(nmestr[i]);
            }

            if (i === 'text') {
                //document.write(nmestr[i]) + '\r\n';
                if (nmestr[i] != undefined) {

                    // console.log(typeof i, '...', i, '..', nmestr[i]);
                    console.log(nmestr[i]);

                    addElement();
                    // document.getElementById("demo2").innerHTML = nmestr[i] + " <br /> will it ";
                    //document.write("Hello World!");
                }
                //console.log('i===text  ',nmestr[i]);
            }
        }
    }
    inside2(nmestr);

    alert('before </script');
    //window.location.reload(true); 
    </script>





</body>
</html>